<mat-card>
  <mat-card-header>
    <mat-card-title>Class & Section</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
      <mat-tab label="Class">
        <app-classmaster></app-classmaster>
      </mat-tab>

      <mat-tab label="Section">
        <app-section></app-section>
      </mat-tab>
      <mat-tab label="Assign Section">
        <app-assign-section></app-assign-section>
      </mat-tab>
      <mat-tab label="Assign Teacher">
        <app-assign-class-teacher></app-assign-class-teacher>
      </mat-tab>

      <!-- <mat-tab label="College">
        <app-college></app-college>
      </mat-tab>

      <mat-tab label="Designation">
        <app-designation></app-designation>
      </mat-tab> -->
    </mat-tab-group>
  </mat-card-content>
</mat-card>