.full-width {
  width: 100%;              /* input field puri card width lega */
}

.button-row {
  display: flex;
  justify-content: flex-end; /* Buttons right side chale jayenge */
  gap: 12px;                 /* Button ke beech space */
  margin-top: 16px;
}


button {
  min-width: 100px;         /* button chhota na lage */
  height: 40px;             /* button ki proper height */
  font-weight: 500;         /* thoda bold text */
}
